/* COMMON */
body {
  color: rgba(0,0,0,0.87);
  font-size: 13px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* border: 1px solid blue; */
}
.material-icons {
  color: #9aa0a6;
}
.material-icons.md-20 {
  font-size: 20px;
}
.material-icons.md-24 {
  font-size: 24px;
}
[data-tooltip-text]:hover {
  position: relative;
  display: inline-block;
}
[data-tooltip-text]:hover:after {
	content: attr(data-tooltip-text);
  position: absolute;
  top: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  /* width: auto; */
	/* min-width: 50px; */
  /* max-width: 300px; */
  width: 80px;
  text-align: center;
  left: -20px;
}

/* header */
.header {
  padding: 6px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}
.header .menus {
  width: 112px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.header .menus .menu:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header .icons {
  width: 100px;
  display:flex;
  align-items: center;
}
.header .icons .icon {
  width: 40px;
  height: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .icons .icon .inner-circle {
  border-radius: 50%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .icons .icon .inner-circle.avatar {
  padding: 4px;
}
.header .icons .icon .inner-circle:hover {
  background-color: rgba(60,64,67,0.08);
}
.header .icons .icon .avatar {
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
}

/* logo */
.logo {
  height: calc(100% - 560px);
  display: block;
  max-height: 290px;
  min-height: 92px;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo .main-logo {
  margin-top: auto;
  max-height: 92px;
  /* position: relative; */
}

/* content */
.content .search-box {
  padding: 20px;
}
.content .search-box .container {
  max-width: 584px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 0 auto;
  padding: 5px 8px 0 14px;
  display: flex;
}
.content .search-box .container:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  /* background-color: #f2f2f2; */
  border-color: rgba(223,225,229,0);
}
.content .search-box .container .prepend-icon {
  padding-right: 13px;
  width: 20px;
  height: 39px;
  display: flex;
  align-items: center;
  margin-top: -5px;
}
.content .search-box .container .input-box {
  flex: 1;
  margin-top: -5px;
}
.content .search-box .container .input-box input {
  display: block;
  width: 100%;
  height: 34px;
  border: none;
  outline: none !important;
  font-size: 16px;
}
.content .search-box .container .append-icon {
  display: flex;
  margin-top: -5px;
}
.content .search-box .container .append-icon .icon {
  width: 24px;
  line-height: 44px;
  padding: 0 8px;
  cursor: pointer;  
  display: flex;
  align-items: center;
}
.content .button-group {
  color: #202124;
  margin: 0 auto;  
  display: flex;
  max-width: 584px;
  justify-content: center;  
  padding-top: 18px;
}
.content .button-group .button {
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #f8f9fa;  
  border: 1px solid #f8f9fa;
}
.content .button-group .button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  border: 1px solid #dadce0;
  /* background-color: red; */
}
.content .button-group .button-left {
  height: 34px;
  line-height: 34px;;
  padding: 0 16px;
  margin: 11px 4px;
}
.content .button-group .button-right {
  line-height: 34px;;
  padding: 0 16px;
  margin: 11px 4px;
}


/* divider */
.divider {
  flex-grow: 1;
  flex-shrink: 0;
}

/* footer */
.footer {
  flex-shrink: 0;
  background-color: #f2f2f2;
  color: rgba(0,0,0,.54);
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
}
.footer .nation {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
}
.footer .policy-container {
  display: flex;
  font-size: 14px;
  padding: 0 20px;
  justify-content:space-evenly;
}
.footer .policy-container .policy-group {
  display: flex;
}
.footer .policy-container .policy-group .part {
  padding: 15px;
  cursor: pointer;
}
.footer .policy-container .policy-group .part:hover {
  text-decoration: underline;
}
